<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

{% load crispy_forms_tags %}

{% block content %}
  <form action="{% url 'shorten' %}" method="post" novalidate>
  <div class="container">
    {% csrf_token %}
    {% crispy form %}
    <button type="submit" class="btn btn-success">Shorten</button>

    <p>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    <div class="alert alert-danger" role="alert">
                        <strong>{{ message }}</strong>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
  </div>
  </form>
{% endblock %}
