<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<div class="container">
   <h1><a href="{{ url_id }}">{{ domain }}/{{ url_id }}</a></h1>
{% if transition_count %}
    <strong>Transitions count: {{ transition_count }}</strong>
{% endif %}
</div>
